html{
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}
h1{
    color: white;
    size: 25px;
    text-align: center;
}
h3 {
    color: white;
    text-align: center;
}
#navBar {
    text-decoration: none;
    color: white;
    float: right;
    padding: 10px;
    background-color: gray;
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
#backGround {
    background-color: gray;
    width: 1300px;
    margin-left: 200px;
    margin-right: none;
    height: 1000px;
}
#moreInfo {
    width: 247px;
    height: 1000px;
    background-color: gray;
}
#backgroundContainer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}